<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:installLocation="internalOnly"
    package="com.em.batterywidget"
    android:versionCode="1414"
    android:versionName="1.4.1" >

    <uses-sdk 
        android:targetSdkVersion="19"
        android:minSdkVersion="8" >
    </uses-sdk>
    
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.em.batterywidget" />
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> 
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <application
        android:icon="@drawable/launcher"
        android:label="@string/app_name" 
        android:hardwareAccelerated="true" >
        
        <uses-library android:name="android.test.runner" />
                
        <receiver 
            android:name=".BatteryWidget_HC" 
            android:label="@string/app_name"
            android:enabled="@bool/Honeycomb" 
            android:exported="false" >
            <intent-filter>
                 <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_hc" />
        </receiver>

        <receiver
            android:name=".BatteryWidget" 
            android:label="@string/app_name"
            android:enabled="@bool/lowVersion"
            android:exported="false" >
            <intent-filter>
                 <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget" />
        </receiver>
        
        <service 
            android:name=".BatteryUpdateService" 
            android:label="@string/app_name" >
        </service>
            
        <receiver 
            android:name=".BatteryReceiver" 
            android:label="@string/battery_broadcast_receiver">
            <intent-filter>
                 <action android:name="android.intent.action.BATTERY_CHANGED" />
                 <action android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>
        </receiver>
            
        <activity 
            android:name=".BatteryWidgetActivity"
            android:theme="@style/activity_style"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />                                                                                             
            </intent-filter>
        </activity>
        
        <activity
            android:name=".HistoryViewManager"
            android:label="@string/historyViewManager" 
            android:screenOrientation="portrait" 
            android:noHistory="true" >
        </activity>
        
        <activity
            android:name=".OptionsManager"
            android:label="@string/settingsManager" >
        </activity>
        
        <!--android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar"-->
        <activity
            android:name=".AboutInfoActivity"
            android:label="@string/aboutView"    
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        
    </application>
</manifest>
